h1 {
    font-family: 'Mouse Memoirs', sans-serif;
    font-size: 50px;
}

.main {
    font-family: 'Mouse Memoirs', sans-serif;
    font-size: 40px;
    background-color: #FB7819;
    height: 120vh;
    width: 100vw;
    margin: auto;
    align-items: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#bg {
    width: 100%;
    height: 330px;
    margin-left: auto;
    margin-right: auto;
}

#main-logo {
	width: 300px;
	height: 150px;
}

.buttons {
    margin-top: 50px;
    margin-bottom: 40px;
}

.button {
    background: #FFFFFF;
    border: 4px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    z-index: 50;
    position: relative;
    margin-top: 10px;
    width: 250px;
    height: 65px;
    text-align: center;
}

.buttons-child {
    position: relative;
    z-index: 1;
    margin-top: -200px;
    margin-bottom: 70px;
}

#finger_icon {
    width: 70px;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    background: #FFFFFF;
    border: 4px solid #000000;
    border-radius: 50%;
    background-position: center;
    background-image: url(images/fingerprint.svg);
    background-repeat: no-repeat;
    background-size: 50px;
}

.secondary_text {
    margin-top: 20px;
}

#bg-child {
    width: 100%;
    height: 420px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
}

.button_green {
    background: #006C2B;
    border: 4px solid #000000;
    color: #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    z-index: 50;
    position: relative;
    margin-top: 30px;
    width: 250px;
    height: 65px; 
}

.button_blue {
    background: #361CD8;
    border: 4px solid #000000;
    color: #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    z-index: 50;
    position: relative;
    margin-top: 10px;
    width: 250px;
    height: 65px; 
}

.button_yellow {
    background: #F8C512;
    border: 4px solid #000000;
    color: #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    z-index: 50;
    position: relative;
    margin-top: 20px;
    width: 250px;
    height: 65px; 
}

.partners {
    background: url(images/);
    border: 4px solid #000000;
    box-sizing: border-box;
    filter: drop-shadow(0px 10px 4px rgba(0, 0, 0, 0.25));
    border-radius: 10px;
    margin-top: 20px;
    width: 250px;
    height: 100px;
}

#partner1 {
    background: url(images/vitoria.svg);
    align-items: center;
}

#partner2 {
    background: url(images/uminho.svg);
    align-items: center;
}

#partner3 {
    background: url(images/guimaraes.svg);
    align-items: center;
}

#partner4 {
    background: url(images/);
    align-items: center;
}

.text-input {
    background: #FFFFFF;
    border: 4px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 250px;
    height: 280px;
    font-size: 25px;
}

#red:hover{
    background-color: red;
    color: #FFFFFF;
}

#yellow:hover{
    background-color: #FBCF35;
}

#blue:hover{
    background-color: #361CD8;
    color: #FFFFFF;
}

#green:hover{
    background-color: #006C2B;
    color: #FFFFFF;
}